
                <div class="resume-footer text-center">

                    <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                        {{ range .Site.Params.social.list }}
                        <li class="list-inline-item mb-lg-0 mr-3">
                            <a class="resume-link" href="{{ .url }}" target="_blank">
                                <i class="{{ .icon }} fa-2x mr-2" data-fa-transform="down-4"></i>
                                <span class="d-none d-lg-inline-block text-muted">{{ .title }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>

                </div><!--//resume-footer-->
